<div class="sidebar-container">
    <ul class="sidebar-navigation">
      <li class="header">SUA BIBLIOTECA</li>
      <li>
        <a href="#"> Feito para você </a>
      </li>
      <li>
        <a href="#"> Tocados recentemente </a>
      </li>
      <li>
        <a href="#"> Músicas Curtidas </a>
      </li>
      <li>
        <a href="#"> Álbuns </a>
      </li>
      <li>
        <a href="#"> Artistas </a>
      </li>
      <li>
        <a href="#"> Podcasts </a>
      </li>
      <li class="header">PLAYLISTS</li>
      <li class="playlists" *ngFor="let playlists of playlist;">
        <a href="#"> {{playlists.name}} </a>
      </li>
    </ul>
  </div>