<div class="sidebar-container">
    <ul class="sidebar-navigation">
        <li class="sidebar-brand">Atividade de amigos</li>
        <li class="header">SUA BIBLIOTECA</li>
        <li>
            <a href="#"> Feito para você </a>
        </li>
        <li>
            <a href="#"> Tocados recentemente </a>
        </li>
        <li>
            <a href="#"> Músicas Curtidas </a>
        </li>
        <li>
            <a href="#"> Álbuns </a>
        </li>
        <li>
            <a href="#"> Artistas </a>
        </li>
        <li>
            <a href="#"> Podcasts </a>
        </li>
        <li class="header">PLAYLISTS</li>
        <li>
            <a href="#"> Playlist 01 </a>
        </li>
        <li>
            <a href="#"> Playlist 02 </a>
        </li>
    </ul>
</div>