<div class="container mx-auto">

    <div class="jumbotron banner col-lg-10 mx-auto">
    </div>

    <h3>Atalhos</h3>
    <hr>

    <div class="row align-items-center"> 
        <div class="col-md-2">
        </div>
        <div class="col-md-2"> 
            <img src="..\assets\imgs\default-music-picture.png" class="img-style">
        </div>
        <div class="col-md-2">
            <img src="..\assets\imgs\default-music-picture.png" class="img-style">
        </div>
        <div class="col-md-2">
            <img src="..\assets\imgs\default-music-picture.png" class="img-style">
        </div>
        <div class="col-md-2">
            <img src="..\assets\imgs\default-music-picture.png" class="img-style">
        </div>
    </div>

</div>